.disc{
	width: 490px;
	margin: 5px;
	font-size: 15px;
	padding: 5px;
}

h4{
	margin: 5px;
	color: white;
}

.container{
  position: relative;
  width: 500px;
  margin: 10px;
}

.chord{
  position: absolute;
	color: red;
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 13px;
	font-weight: bold;
	padding: 1px 3px;
}

/* 라디오 버튼 */


.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
	width: 1000px;
	margin: 10px;
		
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 5px 14.5px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a6df83;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.hr{
	height:2px;
	background:rgba(255, 241, 241, 0.4);
}

.bg-img{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:grey;
	box-shadow:0 20px 20px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}